.loginForm {
  width: 50%;
  max-width: 400px;
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {

    margin-top: 20px;
  }
  button {

    max-width: 30%;
    margin: auto;
  }
}
